/** @format */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Barcode+128+Text&display=swap");
@import url("https://fonts.cdnfonts.com/css/thegoodmonolith");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

#root {
   margin: 0 auto;
   text-align: center;
   position: relative;
   overflow: scroll;
}

#mainWrapper {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: #121113;
   top: 0;
   left: 0;
   contain: strict;
   margin: 0;
   box-sizing: border-box;
   display: flex;
   padding-left: 11rem;
   padding-top: 2rem;
   align-items: flex-start;
   justify-content: flex-start;
}

* {
   /* font-family: "SF Pro Display", sans-serif; */
   scrollbar-width: none !important;
   -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
   display: none; /* Safari and Chrome */
}

div {
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
}

.SF {
   font-family: "SF Pro Display", sans-serif;
}

.vt323 {
   font-family: "VT323", monospace;
   font-weight: 400;
   font-style: normal;
}

.cousine-font {
   font-family: "Cousine", monospace;
   font-weight: 400;
   font-style: normal;
}

.barcode-font {
   font-family: "Libre Barcode 128 Text", system-ui;
   font-weight: 400;
   font-style: normal;
}

.goodmonolith-font {
   font-family: "TheGoodMonolith", sans-serif;
}

.slide-container {
   white-space: nowrap;
   overflow: hidden;
   box-sizing: border-box;
}

.slide-text {
   display: inline-block;
   padding-left: 100%;
   animation: move 10s linear infinite;
}

.logo-opacity {
   background-color: black;
   opacity: 100%;
   animation: reduceOpacity 2s linear;
   animation-iteration-count: 1;
   animation-delay: 1s;
   animation-fill-mode: forwards;
}

.logo-opacity:hover {
   background-color: black !important;
   opacity: 100% !important;
}

@keyframes move {
   0% {
      transform: translate(0, 0);
   }
   100% {
      transform: translate(-70%, 0);
   }
}

@keyframes reduceOpacity {
   0% {
      opacity: 100%;
   }
   100% {
      opacity: 50%;
   }
}
